[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/renhook"]
	path = deps/renhook
	url = https://github.com/WopsS/RenHook.git
[submodule "src/red4ext.sdk"]
	path = deps/red4ext.sdk
	url = https://github.com/WopsS/RED4ext.SDK
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
