[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/red4ext.sdk"]
	path = deps/red4ext.sdk
	url = https://github.com/WopsS/RED4ext.SDK
[submodule "deps/detours"]
	path = deps/detours
	url = https://github.com/microsoft/Detours.git
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/wil"]
	path = deps/wil
	url = https://github.com/microsoft/wil.git
[submodule "deps/toml11"]
	path = deps/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "deps/ordered-map"]
	path = deps/ordered-map
	url = https://github.com/Tessil/ordered-map.git
[submodule "deps/redscript"]
	path = deps/redscript
	url = https://github.com/jac3km4/redscript
[submodule "deps/simdjson"]
	path = deps/simdjson
	url = https://github.com/simdjson/simdjson.git
