name: Release Workflow

on:
  release:
    types: [published]

permissions:
  contents: write

env:
  RED4EXT_BUILD_CONFIG: Release
  RED4EXT_CHECKSUM_ALGORITHM: SHA256

jobs:
  release:
    name: Release ${{ github.ref_name }}
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set version environment variable
        run: |
          $version = $env:GITHUB_REF_NAME
          if ($version.StartsWith("v")) {
            $version = $version.Substring(1)
          }

          Add-Content -LiteralPath ${env:GITHUB_ENV} -Encoding UTF8 -Value "RED4EXT_VERSION=${version}"

      - name: Create build directory
        run: mkdir build

      - name: Configure
        working-directory: build
        run: |
          cmake `
            -DRED4EXT_GIT_METADATA=OFF `
            -DRED4EXT_EXTRA_WARNINGS=ON `
            -DRED4EXT_TREAT_WARNINGS_AS_ERRORS=ON `
            "${{ github.workspace }}"

      - name: Build
        working-directory: build
        run: |
          cmake `
            --build . `
            --config ${env:RED4EXT_BUILD_CONFIG}

      - name: Install
        working-directory: build
        run: |
          cmake `
            --install . `
            --prefix "${{ github.workspace }}/build/install" `
            --config ${env:RED4EXT_BUILD_CONFIG}

      - name: Create release package
        working-directory: build/install
        run: 7z a -r red4ext-${env:RED4EXT_VERSION}.zip *.dll *.txt

      - name: Create debug symbols package
        working-directory: build/install
        run: 7z a -r red4ext-symbols-${env:RED4EXT_VERSION}.zip *.pdb

      - name: Compute package checksum
        working-directory: build/install
        run: |
          $fileHash = Get-FileHash -Algorithm ${env:RED4EXT_CHECKSUM_ALGORITHM} -Path red4ext-${env:RED4EXT_VERSION}.zip
          $fileHash | Format-List

          $checksum = $fileHash.Hash
          Add-Content -LiteralPath ${env:GITHUB_ENV} -Encoding UTF8 -Value "RED4EXT_CHECKSUM_PACKAGE=${checksum}"

      - name: Compute debug symbols checksum
        working-directory: build/install
        run: |
          $fileHash = Get-FileHash -Algorithm ${env:RED4EXT_CHECKSUM_ALGORITHM} -Path red4ext-symbols-${env:RED4EXT_VERSION}.zip
          $fileHash | Format-List

          $checksum = $fileHash.Hash
          Add-Content -LiteralPath ${env:GITHUB_ENV} -Encoding UTF8 -Value "RED4EXT_CHECKSUM_SYMBOLS=${checksum}"

      - name: Upload assets
        uses: softprops/action-gh-release@v2
        with:
          append_body: true
          fail_on_unmatched_files: true
          body: |-

            ---

            | Filename                                       | ${{ env.RED4EXT_CHECKSUM_ALGORITHM }} |
            | ---------------------------------------------- | ------------------------------------- |
            | red4ext-${{ env.RED4EXT_VERSION }}.zip         | `${{ env.RED4EXT_CHECKSUM_PACKAGE }}` |
            | red4ext-symbols-${{ env.RED4EXT_VERSION }}.zip | `${{ env.RED4EXT_CHECKSUM_SYMBOLS }}` |
          files: |
            build/install/red4ext-${{ env.RED4EXT_VERSION }}.zip
            build/install/red4ext-symbols-${{ env.RED4EXT_VERSION }}.zip
